# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais e gerenciadores de pacotes
venv/
.venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# Pastas e configurações de IDEs/Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db